h1{
  text-align: center;
}

.Main{
  display: flex;
  text-align: center;
  width: 100%;
}
.DIVone{
  background-color: red;
  width: 50%;
}
.DIVtwo{
  background-color: blue;
  width: 50%;
}
@media (max-width: 576px){
  .main{ 
    flex-direction: column; }
  .DIVone{
    width: 100%;
  }
  .DIVtwo{
    width: 100%;
  }
