*{
  margin:0;
}
.header{
  height:10%;
  width:100%;
  display:flex;
  background-color:aqua;
}
.logo{
  width:20%;
  height:100%;
}
.logo a{
  width: 100%;
  height:100%;
}
.logo img{
  height: auto;
  width:auto;
}
.menu{
  height:100%;
  width:80%;
}
.menu .menubar{
  display:flex;
  align-items:center;
}
.menu ul{
  justify-content:center;
  display:flex;
}
.menubar ul li a {
  text-decoration:none;
}
.menubar li{
  line-style-type:none;
}
