*{
        margin:0;
        padding:0;
}
.header{
        width:100%;
        height:10%;
        display:flex;
}
.logo{
        width:20%;
        background-color:white;
}
.logo a{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
}
.logo a img{
        width:auto;
        height:auto;
}
.menu{
        width:80%;
        display:flex;
        background-color:aqua;
        color:white;
}
.menu .menubar{
        width:100%;
        height:100%;
}
.menu .menubar ul{
        height:100%;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-around;
        /* padding-right:30px; */
}
.menu ul li{
        list-style:none; 
        padding-bottom:2.5%;
}
.menu ul li a{
        text-decoration:none;
        color:black;
        font-size:1.5vw;
        position:absolute;
}
.menu ul li a:hover{
        color:red;
}
@media(max-width:576px;){
        .header{
                height:7%;
        }
}
.menu .menubar ul li .submenu{
        height:auto;
        width:auto;
        display:none;
        position:absolute;
        top:6%;
        left:auto;
        background-color:transparent;
        man-width:120px;
        border:1px solid black;
        z-index:10;
}
.menu .menubar ul li .submenu li{
        list-style-type:none;
        display:block;
}
.menu .menubar ul li .submenu li a{
        color:black;
        text-decoration:none;
        font-size:1vw;
        position:relative;
        /* display:block; */
        padding:5px 12px;
        white-space: nowrap;
}
.menu .menubar ul li:hover .submenu{
        display:block;
}
.menu .menubar ul li .submenu li a:hover{
        background-color:#f2f2f2;
        color:red;
        transform:scale(1.2);
}
.menu .menubar ul li.lastsub .submenu{ */
        right:auto;
         /* left:auto; */
}
.menu .menubar ul li.lastsub{
        padding-right:50px;
}
