*{
        margin:0;
        padding:0;
}
.header{
        width:100%;
        height:10%;
        display:flex;
}
.logo{
        width:20%;
        background-color:white;
}
.logo a{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
}
.logo a img{
        width:auto;
        height:auto;
}
.menu{
        width:80%;
        height:100%;
        background-color:aqua;
        color:white;
}
.menu .menubar{
        width:100%;
        height:100%;
}
.menu .menubar ul{
        height:100%;
        width:90%;
        display:flex;
        align-items:center;
        justify-content:space-around;
}
.menu .menubar ul li{
        list-style:none; 
        /* padding-bottom:2.5%; */
        position: relative;
        height:100%;
        display:flex;
        align-items:center;
}
.menu .menubar ul li a{
        text-decoration:none;
        color:black;
        font-size:1.5vw;
        /* height:100%; */
        align-items:center;
        justify-content:center;
        display:flex;
        position:static !important;
}
.menu .menubar ul .underline_current > a{
        text-decoration:underline red;
        text-decoration-color: red;
}


.menu .menubar ul li .submenu{
        height:auto;
        width:auto;
        display:none;
        position:absolute;
        top:100%;
        left:50%;
        transform: translateX(-50%);
        background-color:Cyan;
        max-width:150px;
        border:1px solid black;
        z-index:10;
        overflow:hidden;
        /* white-space:nowrap; */
}
.menu .menubar ul li .submenu li{
        list-style-type:none;
        display:block;
}
.menu .menubar ul li .submenu li a{
        color:black;
        text-decoration:none;
        font-size:1vw;
        position:relative;
        display:block;
        padding:5px 12px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
}
.menu .menubar ul li:hover .submenu{
        display:block;
}
.menu .menubar ul li .submenu li a:hover{
        background-color:DarkCyan;
        color:White;
        /* transform:scale(1.2); */
}
.menu .menubar ul li.lastsub .submenu{ 
        right:auto;
         /* left:auto; */
}
.menu .menubar ul li.lastsub{
        padding-right:50px;
}


@media(max-width:576px){
        .header{
                height:5%;
                background: white;
        }

        .header .logo {
                width:80%;
                background-color:white;
        }

        .header .logo a {
                width:50%;
                background-color:white;
                justify-content:none;
                padding-left:5%;
        }

        .header .menu{
                width:20%;
                background-color:white;
        }

        .header .menu .menubar{
                height:0%;
                width:0%;
        }

        .header .menu .mobilebar{
                width:100%;
                height:100%;
        }

        .header .menu .mobilebar .hamburger{
                width:100%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items: center;
                cursor:pointer;
                background:blue;
                
        }

        /* .header .menu .menubar ul li a{
                display:none;
        } */

        .header .menu .mobilebar .hamburger span{
                display:block;
                width: 20px;
                height:2px;
                background:white;
                border-radius:2px;
                box-shadow:0 7px 0 white, 0 -7px 0 white;
        }
       #menu{
                position: fixed;
                top: 5%;
                right: -200px;
                width: 180px;
                height: 50vh;
                background: green;
                transition: 0.3s;
      }

       #menu a{
               display: block;
               /* flex-direction:column; */
               color: white;
               padding: 10px;
               text-decoration: none;
    }
}
