*{
  margin:0;
}
.header{
  height:10%;
  width:100%;
  display:flex;
  background-color:blue;
}
.logo{
  width:20%;
  height:100%;
  background-color:white;
}
.logo a{
  width: 100%;
  height:100%;
  justify-content:center;
}
.logo img{
  height: auto;
  width:auto;
}
.menu{
  height:100%;
  width:80%;
  background-color:aqua;
}
.menu .menubar{
  display:flex;
  align-items:center;
}
.menu ul{
  justify-content:center;
  display:flex;
}
.menubar ul li a {
  text-decoration:none;
  justify-content:space-around;
}

