*{
  margin:0;
  padding:0;
}
.header{
  height:10%;
  width:100%;
  display:flex;
}
.logo{
  width:20%;
  height:100%;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}
.logo a img{
  height:auto;
  width:auto;
}
.menu{
  width:80%;
  display:flex;
  background-color:aqua;
}
.menu .menubar{
  width:100%;
  display:flex;
}
.menubar ul{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.menubar ul li{
  line-style-type:none;
  padding-bottom:2.5%;
}
.menubar ul li a{
  color:black;
  text-decoration:none;
  position:absolute;
  font-size:1.5vw;
}
